{{#if body }}
   
   
    {{#if body.message}}
        <div class="body-message">{{body.message}}</div>
    {{/if}}

    {{#if body.name}}
        <div class="body-name">{{body.name}}</div>
    {{/if}}


{{/if}}